/* ================ main =================== */
main {
    width: 100%;
    margin: 0 auto;
}

.search {
    width: 100%;
    margin: 0 auto;
    top: 4rem;
    height: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .search__one {
    color: #fff;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.search input {
    width: 50%;
    border: none;
    border-radius: 1rem;
    outline: none;
    background: none;
    color: #fff;
    margin: 0 auto;
    padding: 1rem;
}
/* ========== Carousel One ============= */
.carousel {
    width: 100%;
    margin: 2rem auto;
    height: 300px;
    
    overscroll-behavior: none;

    position: relative;
    top: 0;
    left: 0;
}