/* <<<<<< ============================== Break Points / Media Queries ==================================== >>>>> */

/* ============ Wearables ============*/
/* ----------- Moto 360 Watch ----------- */
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 

}

/* ============ Mobile ============*/
/* Base Mobile === */
@media (max-width:360px) {
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>> Estándar Breakpoints <<<<<<<<<<<<<<<<<<<<<<<<<*/
/*SmartPhone*/
/* @media (min-width: 360px) and (max-width:480px) { */
/* } */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
/* =============== Menu Burger ============= */
    .menu-btn {
        top: 2rem;
    }
    .menu-btn-burger {
        width: 30px;
        height: 2px;
    }
    .menu-btn-burger::before {
        transform: translateY(-10px);
    }
    .menu-btn-burger::after {
        transform: translateY(10px);
    }
    .menu-btn-burger::before, 
    .menu-btn-burger::after {
     width: 30px;
     height: 2px;
    }

/* =============== Nav ============= */

/* =============== Main ============= */
 main {
     width: 100%;
 }

 .search {
    width: 90%;
    margin: 0 auto;
    height: 8rem;
   /*  margin-top: 3rem; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .search .search__one {
    color: #fff;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.search input {
    width: 70%;
    border: none;
    border-radius: 1rem;
    outline: none;
    background: none;
    color: #fff;
    margin: 0 .5rem;
    padding: 1rem;
}
/* ======== Carousel ======= */
.carousel {
    width: 90%;
    margin: 1rem auto;
    height: 300px;
}
.slider {
    width: 90%;
    height: 250px;
    left: 5%;
}
.slider__inner {
  width: 700%;
  height: 100%;
  gap: 1rem;
}
.img {
    border-radius: .5rem;
    opacity: 1;
}
.img:hover {
    opacity: .5;
}
/*Categories*/
.categories {
    margin: 0 auto;
    width: 90%;
}
.categories ,.categories__title h1 {
    color: #fff;
    font-size: 1rem;
    padding: .5rem;
   /*  margin-left: auto; */
}
.categories .categories__text p {
    color: var(--clr-base);
    font-size: .8rem;
    padding: .5rem;
}

/* ==== Carousel Two => */
.slider__innerTwo {
    position: absolute;
    width: 250%;
    height: 100%;
    top: 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.slider__img {
    width: 100%;
    height: 70%;
    padding: .5rem;
    margin: 0 auto;
}

.textImg ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

}
/*=== Termina > */
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/*Tablet 480 x 768px*/
@media (min-width: 481px) and (max-width:767px) {
    .menu-btn {
        display: none;
    }

    

}
/*Laptop / Monitor*/
/* @media (min-width: 768px) and (max-width:1280px) { */
/* } */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

}

/* << ================================================================================ >>*/

/* Android === */
/* @media (min-width: 361px) and (max-width:640px) {} */
/* IPhone 8 === */
/* @media (min-width: 414px) and (max-width: 736px) {} */

/* IPhone Pro X  === */
/* @media (min-width: 375px) and (max-width: 812px) {} */
/* IPhone Pro X MAX === */
/* @media (min-width: 414px) and (max-width: 896px) {} */



/* ============ Tablet ============*/

/* Tablet Base ==> */
@media screen and (min-width: 768px) {

}
/* Tablet Mini 768 a 1024px ==> */
/* @media (min-width: 769px) and (max-width: 1023px) {} */

/* Tablet Base ==> */

/* ============ Desktop ============*/

/* Desktop Base ==> */
/* @media screen and (min-width: 1024px) {} */

/* Desktop Imac 1280 x 720px==> */
/* @media (min-width: 720px) and (max-width: 1279px) {} */

/* @media screen and (min-width: 1280px) {} */

/* Desktop 1024px x 1440px ==> */
/* @media (min-width: 1024px) and (max-width: 1440px) {} */
/* Desktop MacBook ==> */
/* @media (min-width: 700px) and (max-width: 1152px) {} */

/* Desktop NacBook Pro ==> */
/* @media (min-width: 900px) and (max-width: 1440px) {} */

/* @media screen and (min-width: 1336px) {} */
/* @media screen and (min-width: 1440px) {} */
/* @media screen and (min-width: 1920px) {} */