
/* <<<< ======================== Menu Toggle ============================  >>>>*/

.menu__toggle {
    z-index: 9999;
    position: fixed;
    transition: 0.5s;

    right: 5%;
    top: 4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 1px solid red
}; 

.menu__toggle span {
    background: #ffffff;
    width: 100%;
    height: 5px;
}

/*=== Menu-toggle ACTIVE ===*/
.menu__toggle.active {
    transform: rotate(-100deg);
}

/* ===== Trabajarcon cada línea del menú ===== */
.menu__toggle.active span:nth-child(1) {
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
    top: 50%;
    left: 50%;
}
.menu__toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu__toggle.active span:nth-child(3) {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: #fff;
    top: 50%;
    left: 50%;
}