/* >  =========================== Components =============================== <*/
@import "./cssMedia/menu-burger.css"; 
@import "./cssMedia/nav.css"; 
@import "./cssMedia/movieQueries.css"; 

:root {
  --clr-white: #ffffff; 
  --clr-black: #000000; 
  --clr-bl2:#161616; 
  --clr-base: #f72585; 
  --clr-ba30: #480ca8; 
  --clr-complement: #4cc9f0; 

}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.58%;
}
body {
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    background: var(--clr-bl2);
}
ul {
    list-style: none;
}
a {
     text-decoration: none;
     cursor: pointer;
}
img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}