*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.58%;
}
body {
    width: 100%;
}
ul {
    list-style: none;
}
a {
     text-decoration: none;
     cursor: pointer;
}
img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
